*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.addSP{
    max-width: 100%;
    border: 3px solid #f3f3f3;
    
    margin: 40px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
   
}
.addSP formmm p{
    font-size: 40px;
    color: rgb(61, 114, 228);
    font-weight: bold   ;

}
.addSP formmm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addSP formmm div{
    width: 70%;
    padding-bottom: 5px;
}
.addSP formmm div input{
   
    background-color: #f3f3f3;
    width: 100%;
    height: 50px;
    padding: 10px;
}
.addSP formmm div label{
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: bolder;
    
    color: rgb(0, 0, 0);
}
.addSP select{
    width: 100%;
    
    background-color: #f3f3f3;
    height: 50px;
    width: 100%;
}
@media only screen and (max-width: 980px) {
    .navbar div{
        width: 90%;
    }
    .navbar div input{
        width: 90%;  
    }
    .navbar ul{
        display: flex;
        justify-content: center;
        width: 100%;  
    }
}
.addSP formmm button{
    margin-top: 20px;
    
    
    width: 70%;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    background-color: #56baed;
    color: rgb(236, 236, 236);
}