@import 'setDefauft.css';


/* =======narbarTop============== */
.narbartop {
    background-color: var(--bg--blue);
}
.navbartop__row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.navbartop__row__item li {
    list-style-type: none;
    padding: 5px 0px 5px 10px;
}
.navbartop__row__item li a {
    font-size: 1rem;
    color: black;
}

.navbartop__row__item li a:hover {
    color: var(--color-blue);
}

.navbartop__row__item {
    display: flex;
    margin-bottom: 0px;
    padding-left: 0px;
    
}




/* ========narbar=============== */
.narbar__icon {
    color: var(--main-color);
    padding-right: 5px;
}

.userLogin{
    color: var(--color-blue);
    font-weight: 500;
    font-size: 1.05rem;
    
}
.userLogout{
    display: flex;
    align-items: center;
}

.narbar{
    background-color: var(--bg--blue-light);
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 99;
    width: 100%;
}
.navbar__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-black);
    margin: 0px;
    flex-wrap: wrap;
}

.narbar__row__logo a img {
    width: 100px;
}

.narbar__row__seach {
    border-radius: 5px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: white;
    margin: 10px 30px;
    flex: 1;
}

.narbar__row__seach input{
    outline: none;
    flex: 1;
    color: var(--color-blue);
}
.narbar__row__seach__item {
    color: var(--color-blue);
    cursor: pointer;
}

.narbar__row__cart{
    position: relative;
    width: 60px;
    height: 40px;
}
.narbar__row__cart__icon{
    font-size: 35px;
}

.narbar__row__toggle{
    cursor: pointer;
   margin-left: 20px;
   color: var(--main-color);
}





/* ============selectSP============== */
.selectSP{
    transform: translateY(-100%);
    background-color: rgb(250, 250, 250);
    position: sticky;
    top: 60px;
    left: 0px;
    z-index: 9;
    transition: all 0.5s ease;
}
.selectSP__active{
    transform: translateY(0%);
}
.selectSP__row{
    display: flex;
    padding-left: 0px;
    flex-wrap: wrap;
}
.select__row__item{
    display: flex;
    border-radius: 5px;
    margin:5px 0px;
    padding-right: 25px;
}
.select__row__item a p{
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 1.25rem;
}
.select__row__item a p:hover{
    color: var(--color-blue);
}






/* ===========slide================ */

.slide__row{
    position: relative;
}
.slide__row img {
    width: 100%;
    height: 500px;
    margin-top: 10px;
}





/* ==========showSP=================== */


.showSP__row{
    display: flex;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.showSP__row__item{
    width: 25%;
    padding: 15px;
}
.card {
    padding: 20px;
    text-align: center;
    border: 0px;
    width: 100%;
    transition: all 0.2s ease;
}
.card:hover {
    background-color: rgb(234, 241, 243);
}

.card:hover .card__button {
    background-color: var(--main-color);
    transition: 0.5s;
}
#SLcard{
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    font-size: 1rem;
    position: absolute;
    top: 0px;
    right: 0px;
}
.card img {
    width: 100%;
    padding: 20px;
    height: 226px;
}
.card a {
    color: black;
    font-weight: 500;
    font-size: 16px;
}
.card__rate{
    text-align: start;
    color: var(--main-color);
    margin: 10px 0px;
}

.card__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
}

.card__price p {
    text-decoration: line-through;
    font-size: 0.75rem;
}
.card__price h1 {
    font-size: 1.25rem;
    color: var(--main-color);
}

.card__button {
    width: 100%;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blue);
    outline: none;
    list-style: none;
  
}

.card__button:active{
    outline: none;
    border: none;
}

/* =======panner============== */
.panner-center{
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.panner-center img{
        width: 48%;
}





/* =========produts-slide=========== */
.produts-slide-big{
    position: relative;
}
#produts-slide{
   
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;

}
.produts-slide__title{
    padding: 10px 0px;
}
.produts-slide__title h1{
    font-size: 1.5rem;
    text-align: center;
    text-transform: capitalize;
}

.produts-slide__button__left{
    position: absolute;
    top: 50%;
    left: 0px;
    font-size: 2rem;
    transform: translateY(-50%);

}
.produts-slide__button__right{
    position: absolute;
    top: 50%;
    right: 0px;
    font-size: 2rem;
    transform: translateY(-50%);

}




/* ======footer============== */
.footer {
    background-color: var(--bg--blue-light);
}

.footer__row{
    display: flex;
    flex-wrap: wrap;
}
.footer__row__item{
    width: 25%;
}
.footer_one {
    padding: 10px;
}
.footer_one img {
    width: 150px;
    padding: 10px 0px;
}
.footer_one p {
    font-size: 15px;
    width: 100%;
}
.footer_two {
    padding: 10px;
    padding-top: 20px;
}
.footer_two h1 {
    font-size: 25px;
    padding-bottom: 15px;
}
.footer_two p {
    width: 100%;
    border-bottom: 1px dotted black;
    padding: 10px 0px;
    font-size: 15px;
}
.footer_four {
    padding: 10px;
    padding-top: 20px;
}
.footer_four h1 {
    font-size: 25px;
    padding-bottom: 15px;
}
.footer_four p {
    width: 100%;
    padding: 10px 0px;
    font-size: 15px;
}
.footer_four div i {
    font-size: 30px;
    padding-right: 20px;
}
.foooter_down {
    text-align: center;
    background-color: var(--bg--blue-light);
}
.foooter_down p {
    margin: 0px;
    font-weight: bolder;
    padding: 3px;
}

.sale{
    position: fixed;
    bottom: 0px;
    right: 0px;
   
}
.sale img{
     width: 200px;
     transform: rotate(30deg);
     transition: all 0.5s ease;
}
.sale__icon{
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 99;
   
}
.sale__close{
    display: none;
}



@media screen and (max-width: 991px) {
    
    .showSP__row__item{
        width: 33.3333%;
      
    }
}
@media screen and (max-width: 767px) {
    .slide img {
        height: 300px;
    }
    .showSP__row__item{
        width: 50%;
      
    }
}
@media screen and (max-width: 575px) {
   
    .navbartop__item{
        width: 100%;
        justify-content: space-around;
    }
    .showSP__row__item{
        width: 100%;
      
    }
    .footer__row__item{
        width: 100%;
    }
    /* .narbar__row__seach{
        width: 100%;
        order: 5;
    } */
    .sale img{
        width: 100px;
   }
}
